In [2]:
#To start, we to need to insert out packages. 
import pandas as pd


#We then need to load our data and make sure its the correct resource.
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')

In [9]:
#We then need to turn our data into a data frame, this is the code how

air_data = pd.DataFrame(air_data)

In [29]:
#Next we make sure the VOC data is grouped by sensor name
VOC_grouped = air_data.groupby('sensor.name')

#We then need to tell the code what statistics to give me a summary of voc
air_data_VOC = VOC_grouped.agg(max = ('voc','max'),
                               min = ('voc','min'),
                               mean = ('voc','mean'),
                               median = ('voc','median'))
#Now that we have those satistics we will then seperate them out by average and median

top5_avg_VOC = ( air_data_VOC.sort_values(by = 'mean', ascending = False))
top5_avg_VOC.head(5)

top5_med_VOC = ( air_data_VOC.sort_values(by = 'median', ascending = False))

top5_med_VOC.head(5)

,max,min,mean,median
sensor.name,,,,
Swnphd-ogallala,1209.931571,61.427708,399.434240,423.082292
Swnphd-mccook,849.734917,0.000000,353.941581,381.468479
Three Rivers Public Health Department,741.876042,50.000000,370.216208,376.810167
FCHD-YPS,856.012625,54.998000,372.462720,375.383500
ELVPHD Norfolk HD 4,884.649000,0.000000,360.833744,368.580500

In [31]:
#Next we will group the pm2.5_atm data by sensor name

pm25_grouped = air_data.groupby('sensor.name')

#We will now ask python to give me a summary of pm2.5

air_data_pm25 = pm25_grouped.agg(max = ('pm2.5_atm','max'),
                                   min = ('pm2.5_atm','min'),
                                   mean = ('pm2.5_atm','mean'),
                                   median = ('pm2.5_atm','median'))


#Now that we have those satistics we will then seperate them out by average and median

top5_avg_pm25 = (air_data_pm25.sort_values(by = 'mean', ascending = False))

top5_avg_pm25.head(5)

top5_med_pm25 = ( air_data_pm25.sort_values(by = 'median', ascending = False))

top5_med_pm25.head(5)

,max,min,mean,median
sensor.name,,,,
Broken Bow,3205.868854,0.019187,928.710593,36.050240
#16 - Richardson County Courthouse,3782.823313,0.243729,700.127342,11.977344
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,613.175352,10.322875
ELVPHD Norfolk HD 4,79.972917,0.307896,13.369492,9.706229
ELVPHD Wisner HD 5,51.984812,0.154271,11.154420,8.464583

In [35]:
# This next line of code will group the pm10.0_atm data by sensor name.
pm10_grouped = air_data.groupby('sensor.name')

air_data_pm10 = pm10_grouped.agg(max = ('pm10.0_atm','max'),
                                 min = ('pm10.0_atm','min'),
                                 mean = ('pm10.0_atm','mean'),
                                 median = ('pm10.0_atm','median'))

top5_avg_pm10 = (air_data_pm10.sort_values(by = 'mean', ascending = False))

top5_avg_pm10.head(5)

top5_med_pm10 = (air_data_pm10.sort_values(by = 'median', ascending = False))

top5_med_pm10.head(5)

,max,min,mean,median
sensor.name,,,,
Broken Bow,3206.779708,0.089917,929.678512,43.179094
#16 - Richardson County Courthouse,3784.682542,0.473583,701.632446,13.305615
ELVPHD Norfolk HD 4,95.131583,0.756229,15.969341,11.474708
#18 - Southeast District Health Department- Tecumseh,2988.441438,0.205729,614.227248,11.433729
ELVPHD Wisner HD 5,75.461354,0.698958,14.462116,10.935958

In [37]:
#This will group the air data by date so we can when pm2.5_atm max happened.

air_data_grouped = (air_data.groupby('date'))

#The next line will be to seperate the pm2.5 max values.
air_data_pm25 = air_data_grouped.agg(max = ('pm2.5_atm','max'))


#This last line will give us our top 5 max values
top5_max_pm25 = (air_data_pm25.sort_values(by = 'max', ascending = False))

top5_max_pm25.head(5)

                  max
date
02/18/25  3782.823313
02/19/25  3401.999333
02/20/25  3243.746646
01/21/25  3209.817146
01/20/25  3087.149167

In [39]:
#This will group the air data by date so we can when pm10.0_atm max happened.
air_data_grouped = air_data.groupby('date')

#The next line will be to seperate the pm10.0 max values.
air_data_pm10 = air_data_grouped.agg(max = ('pm10.0_atm','max'))

#This last line will give us our top 5 max values
top5_max_pm10 = (air_data_pm10.sort_values(by = 'max', ascending = False))
top5_max_pm10.head(5)

                  max
date
02/18/25  3784.682542
02/19/25  3403.435958
02/20/25  3245.613354
01/21/25  3211.046813
01/20/25  3088.053896

In [41]:
#This will group the air data by date so we can when pm10.0_atm max happened.
air_data_grouped = air_data.groupby('date')


#The next line will be to seperate the pm10.0 max values.

air_data_VOC = air_data_grouped.agg(max = ('voc','max'))

#This last line will give us our top 5 max values
top5_max_VOC = (air_data_VOC.sort_values(by = 'max', ascending = False))
top5_max_VOC.head(5)

                  max
date
06/24/24  1209.931571
10/05/24  1135.473000
11/23/24  1041.722000
10/12/24   884.649000
10/16/24   871.182000

In [45]:
#This next line will group the sensor names by the dates we just found.

air_data_grouped = air_data.groupby('sensor.name')

#This will seperate the data and give us the max pm2.5_atm values.
air_data_pm25 = air_data_grouped.agg(max = ('pm2.5_atm','max'))

#This last line will give us the top 5 values.
top5_max_pm25 = (air_data_pm25.sort_values(by = 'max', ascending = False))
top5_max_pm25.head(5)

                                                            max
sensor.name
#16 - Richardson County Courthouse                  3782.823313
Broken Bow                                          3205.868854
Swnphd-mccook                                       3053.114292
#18 - Southeast District Health Department- Tec...  2987.467563
TRPHD Dawson Co. Courthouse 25                      2363.017646

In [47]:
#This next line will group the sensor names by the dates we just found.

air_data_grouped = air_data.groupby('sensor.name')

#This will seperate the data and give us the max pm10.0_atm values.
air_data_pm10 = air_data_grouped.agg(max = ('pm10.0_atm','max'))

#This last line will give us the top 5 values.
top5_max_pm10 = (air_data_pm10.sort_values(by = 'max', ascending = False))
top5_max_pm10.head(5)

                                                            max
sensor.name
#16 - Richardson County Courthouse                  3784.682542
Broken Bow                                          3206.779708
Swnphd-mccook                                       3054.484250
#18 - Southeast District Health Department- Tec...  2988.441438
TRPHD Dawson Co. Courthouse 25                      2367.085500

In [53]:
#This next line will group the sensor names by the dates we just found.

air_data_grouped = air_data.groupby('sensor.name')

#This will seperate the data and give us the max VOC values.
air_data_voc = air_data_grouped.agg(max = ('voc','max'))

#This last line will give us the top 5 values.
top5_max_voc = (air_data_voc.sort_values(by = 'max', ascending = False))
top5_max_voc.head(5)

                             max
sensor.name
Swnphd-ogallala      1209.931571
SWNPHD-Imerial       1135.473000
ELVPHD Norfolk HD 4   884.649000
FCHD-YPS              856.012625
Swnphd-mccook         849.734917

In [61]:
#This next line will give the temperature assigned temperature levels
def assign_temperature(temperature):
    if temperature < 32:
        return 'Below Freezing'
    elif 32 <= temperature <= 50:
        return 'Cool'
    elif 50 <= temperature <= 70:
        return 'Warm'
    elif 70 <= temperature <= 150:
        return 'Hot'

#We then need a line to apply the function

air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)

#Next we will group the data by temperature level and sensor name

temperature_sensor = (air_data.groupby(['sensor.name','temperature_level']).size())

temperature_sensor

sensor.name                         temperature_level
#16 - Richardson County Courthouse  Hot                  175
                                    Warm                  18
#17 - Otoe County                   Below Freezing        27
                                    Cool                  50
                                    Hot                  149
                                                        ...
WCDHD City Building                 Warm                  48
WCDHD Thedford Library 29           Below Freezing        22
                                    Cool                  32
                                    Hot                   57
                                    Warm                  36
Length: 104, dtype: int64

In [63]:
#This next line will give the data assigned humidity levels
def assign_humidity(humidity):
    if humidity < 50:
        return 'Low'
    elif 50 <= humidity <= 80:
        return 'High'
    elif 80 <= humidity <= 100:
        return 'Very High'
    

#We then need a line to apply the function

air_data['humidity_level'] = air_data['humidity'].apply(assign_humidity)

#Next we will group the data by humidity level and sensor name

humidity_sensor = (air_data.groupby(['sensor.name','humidity_level']).size())

humidity_sensor

sensor.name                                                   humidity_level
#16 - Richardson County Courthouse                            High               18
                                                              Low               167
                                                              Very High           8
#17 - Otoe County                                             High               43
                                                              Low               259
#18 - Southeast District Health Department- Tecumseh          High               17
                                                              Low               166
Ainsworth Public School #9                                    High               20
                                                              Low               348
Broken Bow                                                    High               71
                                                              Low               279
                                                              Very High          18
Buffalo County TRPHD #26                                      High               31
                                                              Low               328
ELVPHD Norfolk HD 4                                           High               33
                                                              Low               125
                                                              Very High           3
ELVPHD Tekamah HD 3                                           High               36
                                                              Low               166
ELVPHD Wisner HD 5                                            High               83
                                                              Low                65
                                                              Very High          22
FCHD-YPS                                                      High               82
                                                              Low               283
Laurel High School                                            High               24
                                                              Low               148
Loup Basin Public Health Department                           High               26
                                                              Low               363
Lower Niobrara NRD Butte 10                                   High               26
                                                              Low               345
NCDHD O'Neill #11                                             High               34
                                                              Low               192
PHS Fairbury JCHL 13                                          High               74
                                                              Low               247
                                                              Very High           8
SWNPHD-Imerial                                                High               33
                                                              Low               247
                                                              Very High           4
South Heartland District Health Dept. Hastings office         High               18
                                                              Low               359
South Heartland District Health Dept. Superior City Building  High               16
                                                              Low               266
Swnphd-Benklemen                                              High               37
                                                              Low               351
Swnphd-mccook                                                 High               14
                                                              Low               376
Swnphd-ogallala                                               High               12
                                                              Low               364
TRPHD Dawson Co. Courthouse 25                                High               72
                                                              Low               315
TRPHD Harlan Co. Courthouse 24                                High               36
                                                              Low               331
Three Rivers Public Health Department                         High               34
                                                              Low               343
WCDHD Arthur High School 28                                   High               16
                                                              Low               304
WCDHD City Building                                           High                6
                                                              Low                97
WCDHD Thedford Library 29                                     High               23
                                                              Low               124
dtype: int64

In [70]:
# We will now group pm2.5_atm and give them assigned levels
def assign_pm25(pm25):
    if pm25 < 10:
        return 'good'
    elif 10 <= pm25 <= 40:
        return 'Moderate'
    elif 40 <= pm25 <= 60:
        return 'Unhealthy for Sensitive Groups'
    elif 60 <= pm25 <= 150:
        return 'Unhealthy'
    elif 150 <= pm25 <= 250:
        return 'Very Unhealthy'
    elif 250 <= pm25 <= 1000:
        return 'Hazardous'

#We then need to apply this aplication
air_data['pm2.5_AQI'] = air_data['pm2.5_atm'].apply(assign_pm25)
air_data

#Next we will group the data by pm2.5_atm levels and sensor name

pm25_sensor = (air_data.groupby(['sensor.name','pm2.5_AQI']).size())

pm25_sensor

sensor.name                         pm2.5_AQI
#16 - Richardson County Courthouse  Hazardous           5
                                    Moderate           65
                                    Unhealthy           4
                                    Very Unhealthy      1
                                    good              147
                                                     ...
WCDHD Arthur High School 28         good              251
WCDHD City Building                 Moderate            6
                                    good               97
WCDHD Thedford Library 29           Moderate           29
                                    good              118
Length: 89, dtype: int64

In [74]:
# We will now group pm10.0_atm and give them assigned levels
def assign_pm10(pm10):
    if pm10 < 55:
        return 'good'
    elif 55 <= pm10 <= 155:
        return 'Moderate'
    elif 155 <= pm10 <= 255:
        return 'Unhealthy for Sensitive Groups'
    elif 255 <= pm10 <= 355:
        return 'Unhealthy'
    elif 355 <= pm10 <= 425:
        return 'Very Unhealthy'
    elif 425 <= pm10 <= 1000:
        return 'Hazardous'

#We then need to apply this aplication
air_data['pm10.0_AQI'] = air_data['pm10.0_atm'].apply(assign_pm10)
air_data

#Next we will group the data by pm2.5_atm levels and sensor name

pm10_sensor = (air_data.groupby(['sensor.name','pm10.0_AQI']).size())

pm10_sensor

sensor.name                                                   pm10.0_AQI
#16 - Richardson County Courthouse                            Hazardous                           2
                                                              Moderate                            4
                                                              Unhealthy                           1
                                                              Unhealthy for Sensitive Groups      1
                                                              Very Unhealthy                      1
                                                              good                              212
#17 - Otoe County                                             good                              302
#18 - Southeast District Health Department- Tecumseh          Moderate                            1
                                                              good                              126
Ainsworth Public School #9                                    good                              368
Broken Bow                                                    Moderate                            2
                                                              Unhealthy                           1
                                                              good                              190
Buffalo County TRPHD #26                                      good                              359
ELVPHD Norfolk HD 4                                           Moderate                            3
                                                              good                              168
ELVPHD Tekamah HD 3                                           Moderate                            1
                                                              good                              201
ELVPHD Wisner HD 5                                            Moderate                            4
                                                              good                              353
FCHD-YPS                                                      Moderate                            1
                                                              Very Unhealthy                      1
                                                              good                              363
Laurel High School                                            good                              172
Loup Basin Public Health Department                           Unhealthy for Sensitive Groups      1
                                                              good                              388
Lower Niobrara NRD Butte 10                                   good                              371
NCDHD O'Neill #11                                             Moderate                            3
                                                              good                              202
PHS Fairbury JCHL 13                                          Moderate                            1
                                                              good                              347
SWNPHD-Imerial                                                Moderate                            2
                                                              good                              282
South Heartland District Health Dept. Hastings office         Moderate                            1
                                                              good                              376
South Heartland District Health Dept. Superior City Building  good                              286
Swnphd-Benklemen                                              Moderate                            2
                                                              Unhealthy for Sensitive Groups      1
                                                              good                              385
Swnphd-mccook                                                 Hazardous                           9
                                                              Moderate                            1
                                                              good                              361
Swnphd-ogallala                                               Moderate                            2
                                                              good                              373
TRPHD Dawson Co. Courthouse 25                                Moderate                            1
                                                              Unhealthy                           1
                                                              Very Unhealthy                      2
                                                              good                              382
TRPHD Harlan Co. Courthouse 24                                good                              367
Three Rivers Public Health Department                         Moderate                            1
                                                              good                              376
WCDHD Arthur High School 28                                   Moderate                            1
                                                              good                              319
WCDHD City Building                                           good                              103
WCDHD Thedford Library 29                                     good                              147
dtype: int64

In [92]:
#This next line is making a list of column names
cols = ['date','sensor.name','pm2.5_atm','pm2.5_AQI','humidity_level','temperature_level','monitor_index']

#This line will make it so that only data considered "unhealthy for sensitive groups" is shown
filtered = (air_data[air_data['pm2.5_AQI'] == 'Unhealthy for Sensitive Groups']
.loc[:,cols]

#This line will sort for values by sensor name
.sort_values(by = 'sensor.name', ascending = False))

filtered

,date,sensor.name,pm2.5_atm,pm2.5_AQI,humidity_level,temperature_level,monitor_index
3152,07/25/24,WCDHD Arthur High School 28,46.354292,Unhealthy for Sensitive Groups,Low,Hot,195355
3102,07/23/24,WCDHD Arthur High School 28,41.983833,Unhealthy for Sensitive Groups,Low,Hot,195355
3127,07/24/24,WCDHD Arthur High School 28,43.357542,Unhealthy for Sensitive Groups,Low,Hot,195355
6407,12/24/24,Three Rivers Public Health Department,42.264313,Unhealthy for Sensitive Groups,Low,Cool,195367
1359,05/14/24,Three Rivers Public Health Department,51.491208,Unhealthy for Sensitive Groups,Low,Hot,195367
3140,07/25/24,TRPHD Harlan Co. Courthouse 24,42.725625,Unhealthy for Sensitive Groups,Low,Hot,195315
3170,07/26/24,TRPHD Dawson Co. Courthouse 25,41.228375,Unhealthy for Sensitive Groups,Low,Hot,195333
3145,07/25/24,TRPHD Dawson Co. Courthouse 25,46.411146,Unhealthy for Sensitive Groups,Low,Hot,195333
8180,03/19/25,TRPHD Dawson Co. Courthouse 25,47.437771,Unhealthy for Sensitive Groups,Low,Cool,195333
3160,07/25/24,Swnphd-ogallala,47.412542,Unhealthy for Sensitive Groups,Low,Hot,195541
3135,07/24/24,Swnphd-ogallala,43.837667,Unhealthy for Sensitive Groups,Low,Hot,195541
3110,07/23/24,Swnphd-ogallala,40.816833,Unhealthy for Sensitive Groups,Low,Hot,195541
3155,07/25/24,Swnphd-mccook,44.073771,Unhealthy for Sensitive Groups,Low,Hot,195365
3087,07/23/24,Swnphd-Benklemen,41.126271,Unhealthy for Sensitive Groups,Low,Hot,195089
3162,07/26/24,Swnphd-Benklemen,40.402396,Unhealthy for Sensitive Groups,Low,Hot,195089
3112,07/24/24,Swnphd-Benklemen,46.913958,Unhealthy for Sensitive Groups,Low,Hot,195089
3137,07/25/24,Swnphd-Benklemen,49.938125,Unhealthy for Sensitive Groups,Low,Hot,195089
3793,08/20/24,South Heartland District Health Dept. Superior...,40.539417,Unhealthy for Sensitive Groups,Low,Hot,195385
3776,08/20/24,South Heartland District Health Dept. Hastings...,41.735646,Unhealthy for Sensitive Groups,Low,Hot,195319
1345,05/14/24,South Heartland District Health Dept. Hastings...,47.330646,Unhealthy for Sensitive Groups,Low,Hot,195319
3136,07/25/24,SWNPHD-Imerial,49.004625,Unhealthy for Sensitive Groups,Low,Hot,194969
3111,07/24/24,SWNPHD-Imerial,45.206938,Unhealthy for Sensitive Groups,Low,Hot,194969
3086,07/23/24,SWNPHD-Imerial,40.948458,Unhealthy for Sensitive Groups,Low,Hot,194969
7501,02/15/25,PHS Fairbury JCHL 13,42.358938,Unhealthy for Sensitive Groups,High,Cool,195341
1350,05/14/24,PHS Fairbury JCHL 13,52.773958,Unhealthy for Sensitive Groups,Low,Hot,195341
6721,01/09/25,PHS Fairbury JCHL 13,41.249042,Unhealthy for Sensitive Groups,High,Below Freezing,195341
4140,09/05/24,NCDHD O'Neill #11,45.140896,Unhealthy for Sensitive Groups,Low,Hot,195361
1356,05/14/24,NCDHD O'Neill #11,43.014500,Unhealthy for Sensitive Groups,Low,Hot,195361
4132,09/05/24,Lower Niobrara NRD Butte 10,45.030938,Unhealthy for Sensitive Groups,Low,Hot,195329
1347,05/14/24,Lower Niobrara NRD Butte 10,40.759813,Unhealthy for Sensitive Groups,Low,Hot,195329
3183,07/26/24,Loup Basin Public Health Department,40.083958,Unhealthy for Sensitive Groups,Low,Hot,195383
3158,07/25/24,Loup Basin Public Health Department,43.315229,Unhealthy for Sensitive Groups,Low,Hot,195383
4145,09/05/24,Loup Basin Public Health Department,41.234333,Unhealthy for Sensitive Groups,Low,Hot,195383
3792,08/20/24,Loup Basin Public Health Department,40.983896,Unhealthy for Sensitive Groups,Low,Hot,195383
1361,05/14/24,FCHD-YPS,59.293417,Unhealthy for Sensitive Groups,Low,Hot,195379
7493,02/15/25,ELVPHD Wisner HD 5,51.984812,Unhealthy for Sensitive Groups,None,None,195091
1366,05/15/24,ELVPHD Wisner HD 5,45.230625,Unhealthy for Sensitive Groups,Low,Hot,195091
3773,08/20/24,ELVPHD Wisner HD 5,41.940875,Unhealthy for Sensitive Groups,High,Hot,195091
1341,05/14/24,ELVPHD Wisner HD 5,48.140771,Unhealthy for Sensitive Groups,Low,Hot,195091
1346,05/14/24,ELVPHD Tekamah HD 3,45.881250,Unhealthy for Sensitive Groups,Low,Hot,195327
3783,08/20/24,ELVPHD Norfolk HD 4,42.398250,Unhealthy for Sensitive Groups,High,Hot,195343
1351,05/14/24,ELVPHD Norfolk HD 4,50.918271,Unhealthy for Sensitive Groups,Low,Hot,195343
3784,08/20/24,Buffalo County TRPHD #26,42.225333,Unhealthy for Sensitive Groups,Low,Hot,195345
3174,07/26/24,Buffalo County TRPHD #26,40.516188,Unhealthy for Sensitive Groups,Low,Hot,195345
3149,07/25/24,Buffalo County TRPHD #26,40.793458,Unhealthy for Sensitive Groups,Low,Hot,195345
3154,07/25/24,Broken Bow,44.379125,Unhealthy for Sensitive Groups,Low,Hot,195362
4705,09/30/24,Broken Bow,45.125437,Unhealthy for Sensitive Groups,Low,Hot,195362
3150,07/25/24,Ainsworth Public School #9,43.320062,Unhealthy for Sensitive Groups,Low,Hot,195347

In [94]:
#This next line is making a list of column names
cols = ['date','sensor.name','pm10.0_atm','pm10.0_AQI','humidity_level','temperature_level','monitor_index']

#This line will make it so that only data considered "unhealthy for sensitive groups" is shown
filtered = (air_data[air_data['pm10.0_AQI'] == 'Unhealthy for Sensitive Groups']
.loc[:,cols]

#This line will sort for values by sensor name
.sort_values(by = 'sensor.name', ascending = False))

filtered

,date,sensor.name,pm10.0_atm,pm10.0_AQI,humidity_level,temperature_level,monitor_index
2443,06/27/24,Swnphd-Benklemen,188.977500,Unhealthy for Sensitive Groups,Low,Hot,195089
2144,06/14/24,Loup Basin Public Health Department,231.757021,Unhealthy for Sensitive Groups,Low,Hot,195383
6076,12/08/24,#16 - Richardson County Courthouse,200.798396,Unhealthy for Sensitive Groups,None,None,195317

In [96]:
#This next line is making a list of column names
cols = ['date','sensor.name','pm2.5_atm','pm2.5_AQI','humidity_level','temperature_level',]

#This line will make it so that only data considered "unhealthy for sensitive groups" is shown
filtered = (air_data[air_data['pm2.5_AQI'] == 'Hazardous']
.loc[:,cols]

#This line will sort for values by sensor name
.sort_values(by = 'sensor.name', ascending = False))

filtered

,date,sensor.name,pm2.5_atm,pm2.5_AQI,humidity_level,temperature_level
7631,02/21/25,TRPHD Dawson Co. Courthouse 25,419.846375,Hazardous,Low,Below Freezing
7565,02/18/25,TRPHD Dawson Co. Courthouse 25,419.851604,Hazardous,Low,Below Freezing
7587,02/19/25,TRPHD Dawson Co. Courthouse 25,316.338375,Hazardous,Low,Below Freezing
7988,03/09/25,Swnphd-mccook,627.803146,Hazardous,Low,Warm
8274,03/23/25,Swnphd-mccook,981.919875,Hazardous,Low,Cool
8253,03/22/25,Swnphd-mccook,925.109229,Hazardous,Low,Cool
8232,03/21/25,Swnphd-mccook,858.072271,Hazardous,Low,Cool
8167,03/18/25,Swnphd-mccook,663.285292,Hazardous,Low,Warm
8146,03/17/25,Swnphd-mccook,626.593750,Hazardous,Low,Warm
8127,03/16/25,Swnphd-mccook,882.998792,Hazardous,Low,Warm
8295,03/24/25,Swnphd-mccook,563.337313,Hazardous,Low,Cool
7881,03/04/25,Swnphd-mccook,965.234917,Hazardous,High,Cool
2092,06/12/24,FCHD-YPS,363.201104,Hazardous,Low,Hot
4684,09/29/24,Broken Bow,262.016729,Hazardous,Low,Hot
3216,07/28/24,#16 - Richardson County Courthouse,659.417417,Hazardous,Low,Hot
6096,12/09/24,#16 - Richardson County Courthouse,392.663174,Hazardous,None,None
5996,12/04/24,#16 - Richardson County Courthouse,259.240479,Hazardous,None,None
5896,11/29/24,#16 - Richardson County Courthouse,997.412542,Hazardous,None,None
3266,07/30/24,#16 - Richardson County Courthouse,652.002479,Hazardous,Low,Hot

In [98]:
#This next line is making a list of column names
cols = ['date','sensor.name','pm10.0_atm','pm10.0_AQI','humidity_level','temperature_level',]

#This line will make it so that only data considered "unhealthy for sensitive groups" is shown
filtered = (air_data[air_data['pm10.0_AQI'] == 'Hazardous']
.loc[:,cols]

#This line will sort for values by sensor name
.sort_values(by = 'sensor.name', ascending = False))

filtered

,date,sensor.name,pm10.0_atm,pm10.0_AQI,humidity_level,temperature_level
7881,03/04/25,Swnphd-mccook,967.236167,Hazardous,High,Cool
7988,03/09/25,Swnphd-mccook,628.570000,Hazardous,Low,Warm
8127,03/16/25,Swnphd-mccook,883.737438,Hazardous,Low,Warm
8146,03/17/25,Swnphd-mccook,627.240688,Hazardous,Low,Warm
8167,03/18/25,Swnphd-mccook,664.448625,Hazardous,Low,Warm
8232,03/21/25,Swnphd-mccook,858.946250,Hazardous,Low,Cool
8253,03/22/25,Swnphd-mccook,926.086146,Hazardous,Low,Cool
8274,03/23/25,Swnphd-mccook,982.185500,Hazardous,Low,Cool
8295,03/24/25,Swnphd-mccook,564.363833,Hazardous,Low,Cool
3216,07/28/24,#16 - Richardson County Courthouse,661.886021,Hazardous,Low,Hot
3266,07/30/24,#16 - Richardson County Courthouse,653.352750,Hazardous,Low,Hot